{{#*inline "content"}}
<section id="connector_list">
  <h3>{{connector.name}}</h3>

  <table>
    <tr>
      <td>{{locl "name"}}</td>
      <td>{{locl "address"}}</td>
      <td>{{locl "port"}}</td>
      <td>{{locl "timestamp"}}</td>
    </tr>

    <tr>
      <td>{{connector.name}}</td>
      <td>{{connector.address}}</td>
      <td>{{connector.port}}</td>
      <td>{{connector.timestamp}}</td>
    </tr>
    <table>
</section>
<hr>
</hr>
{{> machine_list machine_data}}
{{/inline}}
{{> (page.parent) }}