<section id="machine_list">

    <table>
        <tr>
            <td>{{locl "number"}}</td>
            <td>{{locl "name"}}</td>
            <td>{{locl "model"}}</td>
            <td>{{locl "extension"}}</td>
            <td>{{locl "timestamp"}}</td>
            {{#if connector_name_map}}
            <td>{{locl "connector"}}</td>
            {{/if}}
        </tr>

        {{#each machines}}
        <tr onclick="if(!event.target.onclick) window.location='/machine/{{this.id}}'">
            <td>{{this.number}}</td>
            <td>{{this.name}}</td>
            <td>{{this.model}}</td>
            <td>{{this.extension}}</td>
            <td>{{this.timestamp}}</td>
            {{#if ../connector_name_map}}
            <td onclick="window.location='/connector/{{this.connector}}'">
                {{connector_name this.connector ../connector_name_map}}</td>
            {{/if}}
        </tr>
        {{/each}}
        <table>

</section>